.body {
  color: white;
}

/* .ul-container {
  text-align: center;
} */

ul { 
  list-style-position: inside;
  text-align: center;
}

ol { 
  list-style-position: inside;
  text-align: center;
}

.image-gallery {
  width: 100%;
  height: 500px; /* Set desired height for the gallery */
  overflow-y: auto;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sslide1_image {
  width: 47%;
  height: auto;
}

p em {
  color: green;
}

li em {
  color: green;
}

.sslide3_image {
  width: 700px;
  height: auto;
}

/* make the image appear on the right side of the p tags */
.sslide5_image {
  width: 600px;
  height: auto;
}

.sslide6_image {
  width: 900px;
  height: auto;
}

.sslide6 {
  display: flex;
  align-items: center;
}

.sslide7_image {
  width: 500px;
  height: auto;
}

.sslide7_key {
  width: 200px;
  height: auto;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Adjust the height as needed */
}

.circle {
  border: 3px solid green; /* Adjust the border color and width as needed */
  border-radius: 50%;
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; /* Adjust the padding as needed */
}

.circle p {
  font-size: 20px; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust the line height for better readability */
}

.sslide15_image {
  width: 800px;
  height: auto;
}

.purple_box {
  background-color: purple;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.green_box {
  background-color: green;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.sslide17_image {
  width: 1000px;
  height: auto;
}

.sslide18_image {
  width: 1000px;
  height: auto;
}

.sslide18_mri {
  width: 350px;
  height: auto;
}

.turquoise_box {
  background-color: turquoise;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.image-lines {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sslide20_form {
  width: 800px;
}

.sslide19_image {
  width: 400px;
  height: auto;
}

.tan {
  color: tan;
}

.sslide23_image {
  width: 300px;
  height: auto;
}

.sslide23_image2 {
  width: 250px;
  height: auto;
}

.sslide24_image {
  width: 500px;
  height: auto;
}

.sslide25_image {
  width: 300px;
  height: auto;
}

.orange_box {
  background-color: orange;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.blue {
  color: lightskyblue;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.contour-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contour_icon {
  width: 30px;
  height: auto;
}

/* .icons {
  display: block;
} */

/* make the buttons round */
.icons button {
  border-radius: 20%; /* Makes the shape circular */

  background-color: lightblue;
  border: none;
  cursor: pointer;
  margin: 15px;
  display: block
}

.icons .disabled {
  background-color: gray;
}

.icons img {
  margin: 10px;
  display: block;
}

.icon_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sslide30_image {
  width: 270px;
  height: auto;
}

.sslide31_image {
  width: 270px;
  height: auto;
}

#sslide32_image {
  width: auto;
  height: 250px;
}

.sslide33_image {
  width: 350px;
  height: auto;
}

.sslide34_image {
  width: 400px;
  height: auto;
}

.sslide35_image {
  width: 600px;
  height: auto;
}

.sslide36_image_text {
  width: 350px;
  height: auto;
}

.sslide36_image_text_div {
  align-items: left;
}

.sslide36_image {
  width: 300px;
  height: 180px;
}

.sslide37_text {
  display: flex;
}

.sslide37_image {
  width: 250px;
  height: 200px;;
}

.sslide38_image {
  width: 800px;
  height: auto;
}

.sslide39_image {
  width: 1150px;
  height: auto;
}

.sslide41_image {
  width: 300px;
  height: auto;
}